<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BDK Enterprise </title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">


<form action = "/addEmployee" method = "post">






            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="First Name"  name="firstName" type="text" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Last Name"   name = "lastName" type="text" class="validate" required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="M/F" name = "gender" type="text" class="validate" required>
                    <label for="gender">Gender</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Birth Date(yyyy-mm-dd)" name = "birthDate" type="text" class="validate" required>
                    <label for="birth-date">Birthdate</label>
                </div>
            </div>
    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Employee No."  name = "empNo" type="text" class="validate" required>
            <label for="employee no.">Employee No. </label>
        </div>
        <div class="input-field col s6">
            <input placeholder="Hire Date"  name = "hireDate" type="text" class="validate" required>
            <label for="hire_date">Hire Date </label>
        </div>
    </div>





    <button class="btn waves-effect waves-light" type="submit" name="action">Add Employee
        <i class="material-icons right"></i>
    </button>


</form>




