<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="stylesheets/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">


<form action = "/addEmployee" method = "post">
    <label> Enter Employee Id: </label>
    <input type = "text" placeholder="Enter Id" name = "empNo"> </input><br/>
    <label> Enter Employee birthday: </label>
    <input type = "text" placeholder="mm/dd/yyyy" name = "birthDate"> </input><br/>
    <label> Enter Employee firstname: </label>
    <input type = "text" placeholder="first name" name = "firstName"> </input><br/>
    <label> Enter Employee lastname: </label>
    <input type = "text" placeholder="last name" name = "lastName"> </input><br/>
    <label> Enter Employee gender: </label>
    <input type = "text" placeholder="gender" name = "gender"> </input><br/>
    <label> Enter Employee hiredate: </label>
    <input type = "text" placeholder="hire date" name = "hireDate"> </input><br/>




    <Button class ="btn-dark" type = "submit"> Submit</Button>

</form>




